.follow-navs{
  width: 100%;
  font-size: 20px;
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.follow-nav-focused{
  font-weight: 600;
  font-size: 24px;
  background-color: transparent;
  padding: 8px 0;
  width: 160px;
  border-bottom: #715AFF 2px solid;
}

.follow-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #6D6D6E;
  padding: 8px 0;
  width: 160px;
  border-bottom: #6D6D6E 2px solid;
}