.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  text-align: center;
}

.logo-placeholder {
  width: 88px;
  height: 88px;
  background-color: #715AFF;
  margin: 0 auto;
}

.login-box h2 {
  margin: 20px;
}

.project {
  color: #715AFF;
}

.login-box p {
  margin-bottom: 42px;
}

.login-box input {
  display: block;
  width: 400px;
  height: 52px;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #715AFF;
  width: 400px;
  height: 64px;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
  color: #666;
}

.signup a {
  color: #715AFF;
  text-decoration: none;
}