.home-main{
  display: flex;
  padding: 0 4%;
  height: fit-content;
  gap: 24px;
}

.boards{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  gap: 24px;
}

.board-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selecter-container{
  display: flex;
  position: sticky;
  top: 12px;
  flex-direction: column;
  gap: 12px;
  padding: 24px 16px;
  background-color: #fcfcfc;
  height: fit-content;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  width: 120px;
}

.selecter-tags{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}