.selecters{
  display: flex;
  padding: 4px 0;
  margin-bottom: 20px;
}

.selecter{
  width: 180px;
  height: fit-content;
  padding: 8px 16px;
  border-bottom: 2px #715AFF solid;
  margin-right: 8px;
  font-size: 25px;
  transition: 0.2s linear;
}

.selected{
  width: 180px;
  height: fit-content;
  padding: 8px 16px;
  border-bottom: 2px #6D6D6E solid;
  margin-right: 8px;
  font-size: 25px;
  color: #6D6D6E;
  transition: 0.2s linear;
}