.selecters{
  display: flex;
  padding: 0 144px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: end;
}

.selecter-underline{
  display: flex;
  width: 100%;
  border-bottom: #6d6d6e31 1px solid;
  justify-content: end;
}

.selecter{
  width: 90px;
  height: fit-content;
  padding: 8px 16px;
  border-bottom: 2px #715AFF solid;
  font-size: 16px;
  margin-left: 8px;
  transition: 0.2s linear;
}

.selected{
  width: 90px;
  height: fit-content;
  padding: 8px 16px;
  border-bottom: 2px #6D6D6E solid;
  font-size: 16px;
  margin-left: 8px;
  color: #6D6D6E;
  transition: 0.2s linear;
}