.boards{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: center;
  gap: 24px;
}

.board-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}