.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: fit-content;
  background-color: white;
  border-radius: 12px;
  padding: 16px 0px 16px 0px;
  /* box-shadow: 0 1px 15px rgba(0, 0, 0, 0.1); */
}
.post-head {
  width: 100%;
  display: flex;
  padding: 0 12px 12px;
  align-items: center;
}
.user-name {
  margin-left: 1em;
  font-size: 20px;
  font-weight: 600;
}
.post-dot {
  font-size: 16px;
  color: #6d6d6e;
  margin: 0 4px;
  /* font-weight: 400; */
}
.post-date {
  font-size: 12px;
}
.post-head > span {
  font-size: 12px;
  font-weight: 400;
  color: #6d6d6e;
}
.post-head > img {
  width: 40px;
  height: 40px;
}

.main-img {
  margin-bottom: 8px;
}
.main-img > img {
  width: 100%;
}

.post-comment > span {
  font-size: 16px;
  font-weight: 400;
  margin-left: 8px;
}

.post-board {
  margin-bottom: 12px;
  display: flex;

}

.post-tag {
  display: flex;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 4px;
}
.post-tag > div {
  width: 54px;
  height: 26px;
  border: 1px solid #6d6d6e;
  border-radius: 20px;
  color: #6d6d6e;
  margin: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  overflow-x: scroll;
}
.post-title {
  font-size: 18px;
  margin: 0 4px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.all-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* @media (max-width: 1300px) {
  .control {
    width: 1020px;
  }
}
@media (max-width: 1000px) {
  .control {
    width: 670px;
  }
} */
