/* src/styles/Hero.css */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  padding: 0 0 10% 100px;
}

.hero h1 {
  margin: 10px;
  font-size: 42px;
  font-weight: 500;
}

.gap {
  padding-left: 35px;
}

.hero .highlight {
  font-size: 42px;
  color: #3867DD;
}

.hero-button {
  font-family: 'Pretendard-Regular';
  margin: 30px 50px;
  padding: 15px 30px;
  background-color: #715AFF;
  color: white;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
