/* src/styles/Hero.css */
.login-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 600px;
  padding: 0 0 130px 50px;
  margin: 0px 100px;
}

.signup-hero {
  background-color: #715AFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 600px;
  padding: 0 0 130px 50px;
  margin: 0px 100px;
}

.login-message {
  margin: 10px;
  font-size: 33px;
  font-weight: 400;
}

.signup-message {
  margin: 10px;
  font-size: 33px;
  font-weight: 400;
  color: #fff;
}

.login-message-box{
  display: flex;
  height: 65px;
  width: 325px;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin-left: 50px;
}

.signup-message-box{
  display: flex;
  background-color: #fff;
  height: 65px;
  width: 325px;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  margin-left: 50px;
}

.login-gap {
  font-size: 35px;
  font-weight: 400;
  padding-left: 20px;
}

.signup-gap {
  font-size: 35px;
  font-weight: 400;
  padding-left: 20px;
  color: #000;
}

.login-highlight {
  font-size: 35px;
  font-weight: 400;
  color: #3867DD;
}

.signup-highlight {
  font-size: 35px;
  font-weight: 400;
  color: #715AFF;
}

.login-highlight-bar {
  font-weight: 600;
  font-size: 35px;
  color: #000;
}

.signup-highlight-bar {
  font-weight: 600;
  font-size: 35px;
  color: #000;
}

.login-hero-button {
  width: 230px;
  height: 75px;
  font-family: 'Pretendard-Regular';
  margin: 20px 170px;
  background-color: #fff;
  color: #715AFF;
  font-size: 43px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-hero-button {
  width: 230px;
  height: 75px;
  font-family: 'Pretendard-Regular';
  margin: 20px 170px;
  background-color: #fff;
  color: #715AFF;
  font-size: 43px;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.10);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-highlight-logo {
  font-size: 43px;
  font-weight: 600;
  color: #000;
  margin: 0;
}

.signup-highlight-logo {
  font-size: 43px;
  font-weight: 600;
  color: #000;
  margin: 0;
}